.section-burgers {
    background: url('../img/section-burgers__bg.png') center center / cover no-repeat;
}

.burgers__container {
    display: flex;
    padding: rem(90px) 0;
    align-items: center;
    justify-content: space-between;

    @include tablets {
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
    }
}

.burgers__image-container {
    width: 50%;
}

.section-burgers__img {
    width: 100%;
    margin-top: rem(70px);
}

.btn-compound {
    position: absolute;
    width: rem(90px);
    height: rem(90px);
    border-radius: rem(5px);
}

.burgers__description-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: $primaryOrange;
}

.burgers__heading {
    color: $primary;
}

.burgers__description {
    color: $primary;
}

.burgers__price-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 35%;

    @include tablets {
        justify-content: center;
        padding-right: 0;
    }
}

.burgers__price {
    padding: 0;
    margin: 0;
}

.burgers__currency {
    font-size: rem(25px);
    margin-right: rem(20px);
}