.section-burgers {
    background-image: url('../img/burgers-background.png');
}

.slider__container {
    height: 100%;
}

.slider__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.href__burger {
    display: flex;
    position: relative;
}

.href__burger-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    

    .burger__compound-container {
        position: absolute;
        left: 100%;
        display: none;
        margin: 0;

    }

    &:hover .href__burger-compound:hover {
        background-color: #e35028;
        border-radius: rem(10px);
    }

    &:hover .burger__compound-container {
        display: block;
    }


}

.href__burger-compound {
    padding: rem(10px) rem(20px);
    background-color: #f08c33;
    border-radius: rem(10px);

}

.compound__list {
    background-color: #f1ece6de;
    border-radius: rem(10px);
    padding: 10px 20px;
}

.compound__item {
    display: flex;
    padding: rem(20px);
    margin-bottom: rem(10px);
    justify-content: space-around;
    color: black;
}

.compound__item-icon {
    margin-right: rem(20px);
}

.compound__item_name {
    margin-right: rem(100px);
}

.compound__item-gramm {
    left: 0;
}

.burgers__price-container {
    display: flex;
    align-items: flex-end;
}

.price__currency {
    font-size: rem(20px);
    margin-right: 20px;
}

.slider__btn {
    margin: 0 rem(20px);
    width: rem(60px);
    height: rem(60px);

    cursor: pointer;


}

// .btn_next {
//     right: 0;

// }

// .btn_prev {
//     left: 0;
// }