@font-face {
    font-family: 'Lifehack';
    font-style: normal;
    font-weight: 500;
    src: local(''),
                url('../fonts/Lifehack\ Medium.otf');
}


@font-face {
    font-family: 'Gagalin';
    font-style: normal;
    font-weight: normal;
    src: local(''),
                url('../fonts/Gagalin-Regular.otf');
}