.footer {
    background-color: $footerColor;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
}

.contacts__adress {
    margin-bottom: rem(5px);
}

.footer__phone-link {
    display: flex;
    align-items: center;
    color: $primaryOrange;
}

.footer__phone-icon {
    margin-right: rem(10px);
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer__social-icon {
    width: 10%;
    height: 10%;

    &:not(:last-child){
        margin-right: rem(10px);
    }
}
