.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: rem(70px);
    text-transform: uppercase;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(13px);
    padding-left: 0.5%;
    padding-right: 0.5%;
    width: 100%;

}

.header__list {
    display: flex;
    // justify-content: space-between;
    margin-right: auto;
    margin-left: auto;

    @include tablets {
        display: none;
    }
}

.header__item {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.navigation__link {
    font-size: rem(13px);
    line-height: 2.31;
    color: $primary;
}

.navagtion__logo {
    margin-right: rem(55px);
}

.header__btn {
    @include tablets {
        margin-right: rem(5px);
    }
}

.item__dote {
    margin-right: rem(14px);
    margin-left: rem(14px);
    width: rem(5px);
    height: rem(5px);
    background: $primary;
    border-radius: 50%;
}

.header__btns {
    display: flex;
    align-items: center;
}

.header__burger-menu {
    display: none;

    @include tablets {
        display: block;
        margin-left: rem(20px);
    }
}

