.section-hero {
    width: 100%;
    // padding-top: rem(70px);
    // padding-bottom: rem(149px);
    background: url("../img/hero-bg.png") center center / cover no-repeat;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablets {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.hero__heading-container {
    margin-top: rem(90px);
    margin-left: rem(20px);

    .hero__heading {
        color: $headingOrange;
    }

    .hero__description {
        font-family: $fontLifehack;
        font-size: rem(65px);
        font-weight: 500;

        @include phones {
            font-size: rem(40px);
        }
    }

    @include tablets {
        text-align: center;
    }

}