.section-we {
    // padding-top: rem(136px);
    // padding-bottom: rem(136px);
    background: url('../img/section-we_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.section-we__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.we-heading {
    text-align: center;
    color: $headingBlack;
}

.section-we__list {
    padding-top: rem(50px);
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    align-items: center;

    @include phones {
        flex-direction: column;
    }
}

.section-we__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &.section-we__item:nth-child(3){
       margin-top: rem(16px);
    }
    
    @include phones {
        flex-direction: row;
    }
}

.section-we__item__heading {
    margin-bottom: rem(15px);
    font-family: $fontLifehack;
    font-size: rem(24px);
    line-height: rem(28px);
    font-weight: normal;
    color: $headingBlack;
}

.section__item-text {
    text-align: center;

    @include phones {
        text-align: left;
    }
}
.section-we__item__description {
    color: $textDescription;
}

.section-we__icon {
    margin-bottom: rem(30px);
}