.section-menu {
    background: url('../img/section-menu-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu__container {
    display: flex;
    height: 100%;
}

.menu__heading {
    flex: 1;
    padding-top: 2%;
    padding-left: 2%;
}

.menu__list {
    display: flex;
    justify-content: flex-end;
    flex: 2;
    word-wrap: break-word;
}

.menu__item {
    display: flex;

    button>* {
        pointer-events: none;
    }
}

.menu__button {
    display: flex;
    align-items: flex-end;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__link-container {
    display: flex;
    align-items: flex-start;
}

.menu__link {
    padding: rem(10px);
    font-size: rem(50px);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    cursor: pointer;

}

.menu__accordion {
    display: none;
    padding: 3%;
    background: rgba($color: #3a3b37, $alpha: 0.8);
    transition-timing-function: ease-out;
    transition: display 2s;
}

.accordion_active+.menu__accordion {
    display: block;
}