.section-team {
    background: url('../img/section-team__bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-left: auto;
}

.profile-container {
    width: 50%;
    margin-left: auto;
    background: rgba($color: #2e3133, $alpha: .8);
    
    @include tablets {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
}

.profile-content {
    padding: 20% 20%
}

.profile-item {
    margin: rem(40px) 0;
    font-size: rem(14px);
    line-height: rem(28px);

    button > * {
        pointer-events: none;
    }
}

.profile__heading {
    margin-bottom: rem(50px);
}

.profile__accordion {
    display: flex;
    align-items: center;
    cursor: pointer;

    @include tablets {
        justify-content: center;
    }
}

.accordion__arrow {
    margin-right: rem(5px);
}

.profile__name {
    font-family: $fontGagalin;
    color: $primary;
    
}

.profile__description {
    display: none;
    align-items: center;
    padding: 3%;
}

.accordion_active + .profile__description {
    display: block;
}


.accrodion_active {
    display: none;
    
    .accordion__arrow {
        transform: rotate(180deg);
    }

    .profile__name  {
        color: $headingOrange;
    }

    .profile__description {
        display: flex;
    }

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.profile__icon {
    margin-right: rem(20px);

    @include tablets {
        margin-right: 0;
    }
}

.profile__description__container {
    display: flex;
    flex-direction: column;
    font-family: $ubuntu;
}

.profile__job-title {
    color: $primary;
}

.profle__job-subtitle {
    color: $primary;
    opacity: 0.8;
}