// colors
$primary: white;
$primaryOrange: #c1401e;
$headingOrange: #f9b43b;
$headingBlack: black;
$textDescription: #6d6e6e;



// fonts
$ubuntu: 'Ubuntu', sans-serif;
$fontLifehack: 'Lifehack';
$fontGagalin: 'Gagalin';

