// colors
$primary: white;
$primaryOrange: #c1401e;
$headingOrange: #f9b43b;
$headingBlack: black;
$textDescription: #6d6e6e;
$footerColor: #0f0f0f;



// fonts
$ubuntu: 'Ubuntu', sans-serif;
$fontLifehack: 'Lifehack';
$fontGagalin: 'Gagalin';

// breakpoints
$tablets: 768px;
$phones: 480px;

