body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btn {
  padding: 13px 16px;
  background-color: #c1401e;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.heading {
  font-family: "Gagalin";
  font-size: 72px;
  font-weight: normal;
  letter-spacing: normal;
}

.section-description {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 28px;
}

@font-face {
  font-family: "Lifehack";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/Lifehack Medium.otf");
}
@font-face {
  font-family: "Gagalin";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("../fonts/Gagalin-Regular.otf");
}
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  text-transform: uppercase;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 13px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.navigation__link {
  font-size: 13px;
  line-height: 2.31;
  color: white;
}

.navagtion__logo {
  margin-right: 55px;
}

.header__btn {
  margin-left: auto;
}

.item__dote {
  margin-right: 14px;
  margin-left: 14px;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
}

.section-hero {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 149px;
  background: url("../img/hero-bg.png") center center/cover no-repeat;
}

.image-container {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 54px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__heading-container {
  margin-top: 90px;
  margin-left: 20px;
}
.hero__heading-container .hero__heading {
  color: #f9b43b;
}
.hero__heading-container .hero__description {
  font-family: "Lifehack";
  font-size: 65px;
  font-weight: 500;
}

.section-we {
  padding-top: 136px;
  padding-bottom: 136px;
  background: url("../img/section-we_bg.png") center center/cover no-repeat;
}

.we-heading {
  text-align: center;
  color: black;
}

.section-we__list {
  padding-top: 50px;
  padding-left: 1%;
  padding-right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-we__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.section-we__item.section-we__item:nth-child(3) {
  margin-top: 16px;
}

.section-we__item__heading {
  margin-bottom: 15px;
  font-family: "Lifehack";
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  color: black;
}

.section-we__item__description {
  color: #6d6e6e;
}

.section-we__icon {
  margin-bottom: 30px;
}

.section-burgers {
  background: url("../img/section-burgers__bg.png") center center/cover no-repeat;
}

.burgers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burgers__image-container {
  width: 50%;
}

.section-burgers__img {
  width: 100%;
  margin-top: 70px;
}

.btn-compound {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 5px;
}

.burgers__description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  color: #c1401e;
}

.burgers__heading {
  color: white;
}

.burgers__description {
  color: white;
}

.burgers__price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 35%;
}

.burgers__price {
  padding: 0;
  margin: 0;
}

.burgers__currency {
  font-size: 25px;
}